body{
	background-color: lightblue;
	background-image: url(D:/regal.png);
}
.wrap{
	width: 50%;
	margin: auto;
	color: white;
	border-radius: 20px;
	font-family: comic sans ms;
	background-color: #008B8B;
}
.container{
	padding: 10px;
	margin: 10%;

}
h2{
	text-align: center;
}
table{
	padding-bottom: 20px;
}
table td{
	padding: 5px;
}
